body{
    background-color:#D5E2E0;
}

header{
    background-color:#25B9A5;
    padding:15px;
}

/*Menu de navigation*/

ul li{
    list-style-type:none;
}

#nav {
    padding: 0;
    margin: 0;
    text-align: center;
}
/* Je selectionne les <li> du menu horizontal */
#nav li { 
    display: inline;
    list-style: none;
}
/*Je centre mes differentes pages */
#nav a {
    display:inline-block;
    margin: 0 10px;
}
ul li a {
    display:block;
    float:center;   
    width:100px;
    line-height:50px; /*hauteur de l'image de fond*/
    background:#4AC4FF repeat-x;
    color:#DCDCDC;
    text-decoration:none;
    text-align:center;
    color:black;
    border-radius: 8px;
 } 

/*nouveau carrousel*/

#slideshow {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid ;
    background: #FFF;
/* Les effets */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
 


#slideshow:after {
    position: absolute;
    bottom:16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.4), 0 20px 10px rgba(0,0,0,0.7);
    right:0;
    transform: rotate(4deg);
}
#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}

/* Dimensions et dÃ©bordement du conteneur */

#slideshow .container {
    position:relative;
    width: 640px;
    height: 310px;
    overflow: hidden;
}
	
/* Je prÃ©vois un espace gris pour la timeline */

#slideshow .container:after {
    position:absolute;
    bottom: 0; 
    left:0;
    content: " ";
    width: 100%;
    height: 1px;
    background: #999;
}

/* annulation des marges sur figure */

#slideshow figure {
    position:relative;
    display:inline-block;
    padding:0; 
    margin:0;
}

/* petit effet de vignette sur les images */

#slideshow figure:after {
    position: absolute;
    display:block;
    content: " ";
    top:0; 
    left:0;
    width: 100%; 
    height: 100%;
    box-shadow: 0 0 65px rgba(0,0,0,0.5) inset;
}

/* styles de mes legendes */

#slideshow figcaption {
    position:absolute;
    left:0; 
    right:0; 
    bottom: 5px;
    padding: 20px;
    margin:0;
    border-top: 1px solid rgb(225,225,225);
    text-align:center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-family: Georgia, Times, serif;
    background: #fff;
    background: rgba(255,255,255,0.7);
    color: #555;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
    animation: figcaptionner 32s infinite;
}


/* fonction d'animation */

/* le conteneur des photos sur la largeur fait 100% x par le nombre de photos */

/* le selecteur : */

#slideshow .slider {
    position: absolute;
    left:0; 
    top:0;
    width: 400%;
    height: 310px;
	/* ... avec la propriete animation */
	animation: slider 32s infinite;
}

#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	/* fonction d'animation */
	animation: timeliner 32s infinite;
}



/* J'ajoute Ã  l'element la propriete animation : */


#slideshow .commands {
	position: absolute;
	top: 45%;
	padding: 5px 13px;
	border-bottom:0;
	font-size: 1.3em;
	color: #aaa;
	text-decoration:none;
	background-color: #eee;
	background-image: linear-gradient(#fff,#ddd);
	text-shadow: 0 0 1px #aaa;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	display:none; 
}
 
#slideshow .prev { 
    left: -48px; 
}

#slideshow .next { 
    right: -48px; 
}
 

#slideshow .commands1 {	
    display: block; 
}

#slideshow .c_slider {
    position: absolute;
    left:0; top:0;
    width: 400%;
    height: 310px;
    background: url(images/chat1.jpg) 0 0 no-repeat,
                url(images/chat2.jpg) 640px 0 no-repeat,
                url(images/chat3.jpg) 1280px 0 no-repeat,
                url(images/chat4.jpg) 1920px 0 no-repeat;
    transition: background 1s;
}

/* on cache le slider */

.sl_i:target ~ #slideshow .slider { visibility: hidden }

/* on planque la 1ere pastille */

.sl_i:target ~ #slideshow .dots_commands li:first-child a:after	{ display:none; }

/* pour afficher la 2eme pastille */

.sl_i:target ~ #slideshow .dots_commands li:first-child a:before { display:block; }
 
#sl_i1:target ~ #slideshow .commands { display: none; }

/* afficher les deux fleches */

#sl_i1:target ~ #slideshow .commands1 { display: block; }

/* decalage des images */

#sl_i1:target ~ #slideshow .c_slider { background-position: 0 0, 640px 0, 1280px 0, 1920px 0; }

/* emplacement de la pastille tout a gauche */

#sl_i1:target ~ #slideshow .dots_commands li:first-child a:before { left:0; }
 /* pareil pour la seconde photo */
#sl_i2:target ~ #slideshow .commands { display: none; }
#sl_i2:target ~ #slideshow .commands2 { display: block; }
#sl_i2:target ~ #slideshow .c_slider { background-position: -640px 0, 0 0, 640px 0, 1280px 0; }
#sl_i2:target ~ #slideshow .dots_commands li:first-child a:before {left:18px;}
 
/* puis la 3eme */
#sl_i3:target ~ #slideshow .commands { display: none; }
#sl_i3:target ~ #slideshow .commands3 { display: block; }
#sl_i3:target ~ #slideshow .c_slider { background-position: -1280px 0, -640px 0, 0 0, 640px 0; }
#sl_i3:target ~ #slideshow .dots_commands li:first-child a:before {left:36px;}
 
/* et enfin la 4eme */
#sl_i4:target ~ #slideshow .commands { display: none; }
#sl_i4:target ~ #slideshow .commands4 { display: block; }
#sl_i4:target ~ #slideshow .c_slider { background-position: -1920px 0, -1280px 0, -640px 0, 0 0; }
#sl_i4:target ~ #slideshow .dots_commands li:first-child a:before {left:54px;}

.dots_commands  {
    padding:0;
    margin:32px 0 0;
    text-align: center;
}
.dots_commands li {
    display: inline;
    padding:0; 
    margin:0;
}
.dots_commands a {
    position: relative;
    display: inline-block;
    height:8px; 
    width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
/* quelques styles au focus */
.dots_commands a:focus { 
    outline: none;
    background: black;
}
.dots_commands li:first-child a { z-index: 25; }
/* on style after et before, on utilisera les deux */
.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
    position: absolute;
    top: 0; 
    left: 0;
    content: " ";
    width: 8px; height: 8px;
    background: #bd9b83;
    z-index:20;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
/* on anime "after" */
.dots_commands li:first-child a:after {
    animation: dotser 32s infinite;
}
/* on cache "before", on l'utilise uniquement au clic */
.dots_commands li:first-child a:before { display:none; }
 
@keyframes slider {
	0%, 20%, 100% { left: 0 }
	25%, 45% { left: -100% }
	50%, 70% { left: -200% }
	75%, 95% { left: -300% }
}

@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{width: 0;}
	20%, 45%, 70%, 90%{width: 640px;}
}

@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%	{bottom: -55px;}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%{bottom: 5px;}
}

/* c'est parti pour l'animation ! */
@keyframes dotser {
    0%, 100% { opacity: 1; left: 0;}

    20% { opacity: 1; left: 0;}
    22% { opacity: 0; left: 0;}
    23% { opacity: 0; left: 18px;}
    25% { opacity: 1; left: 18px;}

    45% { opacity: 1; left: 18px;}
    47% { opacity: 0; left: 18px;}
    48% { opacity: 0; left: 36px;}
    50% { opacity: 1; left: 36px;}

    70% { opacity: 1; left: 36px;}
    72% { opacity: 0; left: 36px;}
    73% { opacity: 0; left: 54px;}
    75% { opacity: 1; left: 54px;}

    95% { opacity: 1; left: 54px;}
    97% { opacity: 0; left: 54px;}
    98% { opacity: 0; left: 0;}
}

/*Pied de page*/

footer{
    background-color:#4AC4FF;
    padding:15px;
}