body{
    background-color:#D5E2E0;
    color: #5a5a5a;
}


/*logo*/

header{
    background-color:#25B9A5;
    padding:15px;
    padding-left:auto;
    padding-right:auto;
}

.img-header{
    display: block;
    margin: auto;
}

/*Fin logo*/

/*Menu de navigation*/

.navbar-default {
    background-color: transparent;
    border-color: #000;
}

@media (min-width:768px){

.navbar {
    border:none;
}

}

@media (max-width:768px){

.navbar {
    border-radius: 10px;
}

}

.navbar {
  margin-top: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-collapse li a {
    float: none;
    width:100px;
    background:#00E9C2;
    text-decoration:none;
    text-align:center;
    color:black !important;
    border-radius: 8px;
 } 


.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF !important;
    background:#4AC4FF;
}

.nav ul {
    padding-left: 15px;
}


.nav li {
    float: left;
    list-style: none;
    display: inherit;
    height: inherit;
    margin-right: 5px;
    padding: 15px 0px;
}

/*Fin Menu de navigation*/ 

/*caroussel*/
.carousel-caption {
    top: 20px;
    bottom: 134px;
}

h3 {
        color: #00E9C2 !important;
}
/*Fin caroussel*/

/*Pied de page*/

footer{
    background-color:#4AC4FF;
    padding:15px;
}

/*Fin Pied de page*/

/*mise en forme du formulaire et de la géolocalisation*/


.container1 {
    margin:120px;
    padding:70px;
    width:600px;
}


iframe
{
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    
}
/*fin de la mise en forme de la géolocalisation*/
